@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --font-inter: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  antialiased: subpixel-antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}